body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: inherit;
}

/* dropdown nav ??????? */
.navigation {
	position: fixed;
	top: -100%;
	left: 0;
	width: 100vw;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: inherit;
	transition: top 0.3s ease;
	z-index: 999;
	backdrop-filter: blur(5px);
}
/* Styles for when navigation is open */
.nav-open .container,
.nav-open nav {
	backdrop-filter: blur(5px);
}
.nav-open nav {
	display: none;
}
.nav-open .main,
/* .nav-open .body, */
.nav-open .container {
	transition: opacity 0.5s ease, backdrop-filter 0.5s ease;
	opacity: 0.4;
	backdrop-filter: blur(5px);
	z-index: 0;
	background-color: rgba(255, 255, 255, 0.072);
}
.navigation.show {
	top: 0;
}
.nav-links {
	display: flex;
	gap: 20px;
	padding-right: 20px;
}
.social_links,
.page-links {
	display: flex;
	align-items: center;
	gap: 20px;
	list-style-type: none;
	padding-left: 0;
	margin: 0;
	font-weight: 600;
	font-size: 14px;
}
.social_links {
	border-right: #000 solid 1px;
	padding-right: 20px;
}

.nav-title h1 {
	font-size: 20px;
	padding-left: 20px;
}

.social_links li:hover,
.page-links li:hover,
.nav-title h1:hover {
	transition: 0.3s ease-in-out;
	color: rgba(0, 0, 0, 0.507);
}

nav {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: transparent;
	width: 100%;
}

nav h3 {
	padding-left: 20px;
	text-transform: uppercase;

	z-index: 999;
}
nav h3:hover {
	color: rgba(0, 0, 0, 0.7);
	transition: 0.2s;
}

.menu-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	/* padding: 20px; */

	z-index: 999; /* Ensure the menu icon stays above other content */
}

.menu-wrapper .menu {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #000;
}

.menu {
	display: flex;
	align-items: center;
	justify-content: end;
	padding: 0 20px;
	color: #000;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 18px;
}

.menu p {
	margin-left: 10px;
}

.menu p,
.menu i {
	cursor: pointer;
}

.container {
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: url("/images/fish.jpg");
	background-size: cover;
	background-position: center;
	transition: 0.5s ease;
}

/* Fade bottom of main image */
.container::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 1)
	);
}

.main {
	position: absolute;
	top: 50%;
	left: 15%;
	height: 100%;
	width: 70%;
	background-color: #fff;
	margin: 0 auto;
	border-radius: 8px 8px 0 0;
	padding: 60px 0;
}

.about_section {
	width: 70%;
	margin: 0 auto;
	line-height: 35px;
	font-size: 20px;
}

.header {
	margin-bottom: 60px;
}

.header h3 {
	text-transform: uppercase;
	font-size: 32px;
	margin-bottom: 0;
}

.header p {
	margin-top: 0;
	padding-top: 0;
}

.images {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin: 0 auto;
	gap: 16px;
	margin: 40px 0;
}

.images img {
	width: 50%;
	height: 275px;
	border-radius: 8px;
}

.quote {
	border-left: #b68c5e solid 2px;
	padding: 0 30px;
	font-family: "EB Garamond", serif;
	font-size: 24px;
	font-size: 200;
}

.quote_cite {
	color: #b68c5e;
	font-style: italic;
}

.music_link {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
	padding-bottom: 100px;
}

.music_link p {
	margin-bottom: 0;
	padding-bottom: 0;
	font-weight: 200;
}
.music_link h1 {
	margin-top: 0;
	padding-top: 0;
}

@media screen and (max-width: 900px) {
	.container {
		display: flex;
		flex-direction: column;
	}
	.main {
		display: block;
		width: 100%;
		top: 80%;
		left: 0;
		border-radius: 0;
	}
	.header h3 {
		font-size: 24px;
	}
	.images {
		flex-direction: column;
	}
	.images img {
		width: 100%;
	}
	.menu {
		padding: 20px;
	}

	.menu p {
		display: none;
		margin: 0;
		padding: 0;
	}

	nav h3 {
		display: none;
	}

	nav i {
		margin: 0;
		padding: 0;
	}
	nav {
		justify-content: end;
		color: #fff;
		padding: 0;
	}
}
@media screen and (max-width: 600px) {
	.header h3 {
		font-size: 20px;
	}
	.main {
		top: 70%;
	}

	.about_section {
		width: 80%;
	}
}

/* nav resposive */
@media screen and (max-width: 1000px) {
	.navigation {
		height: 270px;
		background-color: #fff;
		flex-direction: column;
		align-items: flex-start;
		justify-content: stretch;
	}

	.nav-links {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.page-links {
		order: 1;
		gap: 30px;
		margin: 30px 0;
	}

	.social_links {
		order: 2;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding-left: 20px;
		border-right: 0;
		color: grey;
	}
	.page-links {
		border-right: none;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding-left: 20px;
	}
}
