body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: inherit;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #fff;
}

nav h3 {
	padding-left: 20px;
	text-transform: uppercase;
}
nav h3:hover {
	color: rgba(0, 0, 0, 0.7);
	transition: 0.2s;
}

.menu-wrapper {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999;
}

.menu-wrapper .menu {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}

.menu {
	display: flex;
	align-items: center;
	justify-content: end;
	padding: 0 20px;
	color: #000;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 18px;
}

.menu p {
	margin-left: 10px;
}

.menu p,
.menu i {
	cursor: pointer;
}

.container {
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: url("/images/dummy_cover.jpg");
	background-size: cover;
}

/* Fade bottom of main image */
.container::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 1)
	);
}

.main {
	position: relative;
	height: 683px;
	width: 913px;
	/* background-color: rgba(255, 255, 255, 1); */
	margin: 0 auto;
	margin-top: 4%;
	border-radius: 8px;
	z-index: 999;
	margin-bottom: 50px;
}

.big_box {
	position: absolute;
	background-color: #fff;
	height: 100%;
	width: 830px;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 8px;
}

.small_box {
	position: absolute;
	top: 7%;
	height: 362px;
	width: 362px;
	background-image: url("/images/dummy_cover.jpg");
	background-position: center;
	background-size: cover;
	z-index: 999;
	border-radius: 8px;
	transform: translateX(-10%); /* Center the small box */
}

/* Text inside main big box section */
.social {
	position: absolute;
	bottom: 32%;
	left: 5%;
	/* background-color: #000; */
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.big_box .fa-youtube,
.big_box .fa-spotify {
	color: #028dac;
	font-size: 36px;
}

.album_text {
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 0 8px 8px 0;
	background-color: #028dac;
	height: 100%;
	width: 60%;
}

.title {
}

.bottom_section {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	height: 463px;
	width: 830px;
	margin: 0 auto;
	/* background-color: #000; */
	padding-bottom: 200px;
}

.bottom_box {
	background-color: red;
	height: 100%;
	width: 830px;
	border-radius: 8px;
}

.bottom_section h3 {
	font-family: "EB Garamond", serif;
	font-weight: 200;
	font-size: 34px;
}

@media screen and (max-width: 1000px) {
	.main {
		position: relative;
		height: 480px;
		width: 90%;
		margin-bottom: 0;
		margin-top: 100px;
		padding-bottom: 0;
	}
	.big_box {
		height: 100%;
		width: 100%;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.small_box {
		position: relative;
		height: 250px;
		width: 250px;
		left: 40px;
	}

	.bottom_section {
		width: 90%;
		height: 351px;
		padding-bottom: 50px;
	}
	.bottom_box {
		width: 100%;
	}

	.bottom_section h3 {
		font-family: "EB Garamond", serif;
		font-weight: 200;
		font-size: 28px;
		margin-bottom: 6px;
	}

	.menu {
		padding: 20px;
	}

	.menu p {
		display: none;
		margin: 0;
		padding: 0;
	}

	nav h3 {
		display: none;
	}

	nav i {
		margin: 0;
		padding: 0;
	}
	nav {
		justify-content: end;
		color: #fff;
		padding: 0;
	}
}

@media screen and (max-width: 600px) {
	.main {
		height: 50%;
		width: 90%;
		margin-bottom: 0;
		margin-top: 80px;
		padding-bottom: 0;
	}
	.big_box {
		height: 90%;
	}

	.small_box {
		height: 150px;
		width: 150px;
		left: 25px;
		top: 10px;
	}

	.social {
		bottom: 48%;
		left: 3%;
	}

	.bottom_section {
		padding-bottom: 50px;
		/* align-items: center; */
	}

	.bottom_section h3 {
		font-family: "EB Garamond", serif;
		font-weight: 200;
		font-size: 26px;
		margin-bottom: 6px;
	}
}

@media screen and (max-width: 389px) {
	/* move these to a new spot */
	.social {
		bottom: 30%;
		left: 2%;
	}
}
