body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-image: url("./images/photo-1555181937-efe4e074a301.avif");
	background-size: cover;
	background-position: center;
	font-family: "Montserrat", sans-serif;
	min-height: 100vh;
}

a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: inherit;
}

/* complete nav bar styling */
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav h3 {
	padding-left: 20px;
	text-transform: uppercase;
}
nav h3:hover {
	color: rgba(0, 0, 0, 0.7);
	transition: 0.2s;
}

.menu {
	display: flex;
	align-items: center;
	justify-content: end;
	padding: 0 20px;
	color: #000;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 18px;
}

.menu p {
	margin-left: 10px;
}

.menu p,
.menu i {
	cursor: pointer;
}

.main {
	height: 100vh;
	/* background-color: #fff; */
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tunes_text {
	font-family: "EB Garamond", serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: 200;
	font-size: 26px;
	text-align: center;
	margin-bottom: 80px;
}

.tunes_text p {
	margin-bottom: 0;
	padding-bottom: 0;
}

.tunes_text h3 {
	font-weight: 200;
	font-size: 27px;
}

.slider-container {
	position: relative;
	width: 490px; /* Change width to 100% for responsiveness */
	height: 490px; /* Allow height to adjust based on aspect ratio */
	overflow: hidden;
	margin-bottom: 20px;
	box-shadow: rgba(100, 100, 111, 0.8) 0px 7px 29px 0px;
	border-radius: 8px;
}

.slider {
	display: flex;
	transition: transform 0.5s ease; /* Adjust the transition timing here */
	width: calc(490px * 3); /* Total width of all images */
	width: 490px;
	height: 490px;
}

.slider img {
	width: 100%; /* Set image width to 100% to maintain aspect ratio */
	height: auto; /* Allow height to adjust based on aspect ratio */
	transition: transform 0.5s ease;
	border-radius: 8px;
}

.prev-btn,
.next-btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: inherit;
	border: none;
	outline: none;
	cursor: pointer;
	color: #fff;
	font-size: 25px;
	opacity: 0.7;
}

.prev-btn {
	left: 0;
}

.next-btn {
	right: 0;
}

@media screen and (max-width: 1200px) {
	.main {
		height: 100%;
		width: 90%;
	}
}

@media screen and (max-width: 500px) {
	.slider-container {
		width: 100%; /* Change width to 100% for responsiveness */
	}

	.slider {
		width: 100%;
	}

	.slider img {
		width: 100%; /* Set image width to 100% to maintain aspect ratio */
		height: auto; /* Allow height to adjust based on aspect ratio */
		transition: transform 0.5s ease;
		border-radius: 8px;
	}
}

@media screen and (max-height: 700px) {
	.slider-container {
		.slider-container {
			max-height: calc(100vh - 50px); /* Adjust maximum height */
		}
	}
}
