/* Global styles */
body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #f2f2f280;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

/* background to get transparancy on image */
.background {
  position: fixed;
  background-image: url("images/photo-1555181937-efe4e074a301.avif");
  background-size: cover;
  background-position: center;
  opacity: 20%;
  height: 100%;
  width: 100%;
  z-index: -1;
}

/* container housing the five cards */
.container {
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  margin-top: 0;
  z-index: 1;
  transition: 0.5s ease;
}

nav h3 {
  padding: 24px;
  padding-left: 30px;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 999;
}
nav h3:hover {
  opacity: 50%;
  transition: 0.2s;
}

.menu .lines:hover,
menu p:hover {
  opacity: 50%;
  transition: 0.3s ease;
}

.main {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s ease;
}

.tunes_text {
  font-family: "EB Garamond", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 200;
  font-size: 26px;
  text-align: center;
  margin-bottom: 80px;
}

.tunes_text p {
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 12px;
}

.tunes_text h3 {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 26.29px;
  margin-bottom: 12px;
}
.line {
  width: 34px;
  height: 2px;
  background-color: #0a1d2c;
}
.slider-container {
  position: relative;
  width: 490px;
  height: 490px; /* Set the desired size */
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: rgba(100, 100, 111, 0.8) 0px 7px 29px 0px;
  border-radius: 8px;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%; /* Set the width to 100% */
}

.slider img {
  width: 490px; /* Set the desired size */
  height: 490px; /* Set the desired size */
  transition: transform 0.5s ease;
  border-radius: 8px;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 25px;
  opacity: 0.7;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

@media screen and (max-width: 1200px) {
  .main {
    height: 100%;
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .slider-container {
    width: 100%;
    height: 400px;
  }

  .slider {
    width: 100%;
  }

  .slider img {
    width: 100%; /* Set image width to 100% to maintain aspect ratio */
    height: 400px;
    transition: transform 0.5s ease;
    border-radius: 8px;
  }
}

@media screen and (max-width: 1000px) {
  .tunes_text {
    font-size: 20px;
  }

  .tunes_text p {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .tunes_text h3 {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 24px;
  }
}

@media screen and (max-height: 700px) {
  .slider-container {
    max-height: calc(100vh - 50px); /* Adjust maximum height */
  }
}
