a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 14px;
  height: 15px;
  cursor: pointer;
}

.lines {
  width: 13px;
  height: 1px;
  background-color: #000;
  margin-bottom: 2px;
}

.navigation {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100vw;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: inherit;
  transition: top 0.3s ease, opacity 0.5s ease;
  z-index: 999;
  backdrop-filter: blur(5px);
}
/* Styles for when navigation is open */
.nav-open .container,
.nav-open nav {
  backdrop-filter: blur(5px);
}
.nav-open .menu {
  color: transparent;
  transition: 0.3s ease-in-out;
}
.nav-open .left,
.nav-open .right,
.nav-open .middle {
  transition: opacity 0.5s ease, backdrop-filter 0.5s ease;
  opacity: 0.4;
  backdrop-filter: blur(5px);
  z-index: 0;
  background-color: rgba(255, 255, 255, 0.072);
}
.navigation.show {
  top: 0;
}

.nav-title h1 {
  font-size: 20px;
  padding-left: 20px;
  text-transform: uppercase;
}
.nav-links {
  display: flex;
  gap: 20px;
  padding-right: 20px;
}
.social-links i {
  padding-right: 12px;
}
.social-links,
.page-links {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  font-weight: 600;
  font-size: 14px;
}
.page-links {
  border-right: #000 solid 1px;
  padding-right: 20px;
}

.nav-title h1 {
  font-size: 20px;
  padding-left: 20px;
}

.social-links li:hover,
.page-links li:hover,
.nav-title h1:hover {
  transition: 0.3s ease-in-out;
  color: rgba(0, 0, 0, 0.507);
}
nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
/* Div containing burger menu plus "MENU" text */
.menu {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 20px;
  padding-bottom: 0;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  gap: 11px;
}

.menu p,
.menu .links {
  cursor: pointer;
}

.menu p:hover,
.burger-menu:hover {
  opacity: 50%;
  transition: 0.3s ease;
}

@media screen and (max-width: 1000px) {
  .navigation {
    height: 270px;
    background-color: #fff;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
    text-transform: uppercase;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .page-links {
    order: 1;
    gap: 30px;
    margin: 30px 0;
  }

  .social-links {
    order: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 20px;
    border-right: 0;
    color: grey;
  }
  .page-links {
    border-right: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
  }
}
