a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: inherit;
}

nav {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: transparent;
	width: 100%;
	color: #fff;
}

nav h3 {
	margin: 0;
	padding: 25px;
	padding-left: 30px;
	text-transform: uppercase;
}

/* nav h3 a {
	font-size: 20px;
} */

nav h3:hover {
	opacity: 50%;
	transition: 0.3s;
}

.logo h3 {
	z-index: 1000;
}

.burger-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}

.lines {
	width: 13px;
	padding-top: 1px;
	background-color: #000;
	margin-bottom: 2px;
}

.navigation {
	position: fixed;
	top: -100%;
	right: 0;
	width: 70vw;
	/* height: 100px; */
	padding-top: 25px;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background-color: transparent;
	transition: top 0.6s ease-in-out, opacity 0.5s ease-in-out;
	z-index: 1000;
	backdrop-filter: blur(5px);
}
/* Styles for when navigation is open */
.nav-open .container {
	backdrop-filter: blur(5px);
}

/* added apr 17 */
.nav-open nav {
	display: block;
	z-index: 999;
	width: 50%;
}
.nav-open .menu {
	display: none;
	/* transition: 0.3s ease-in-out; */
}
.nav-open .left,
.nav-open .right,
.nav-open .middle,
.nav-open .container {
	transition: opacity 0.5s ease, backdrop-filter 0.5s ease;
	opacity: 0.4;
	backdrop-filter: blur(5px);
	z-index: 0;
	background-color: rgba(255, 255, 255, 0.072);
}

.nav-title {
	display: none;
	transition: 0.5s ease;
}
.navigation.show {
	top: 0;
}

.nav-title h1 {
	font-size: 20px;
	padding-left: 20px;
	margin-top: 0;
	text-transform: uppercase;
}
.nav-links {
	display: flex;
	gap: 20px;
	padding-right: 20px;
}
.social-links i {
	padding-right: 12px;
}
.social-links,
.page-links {
	display: flex;
	align-items: center;
	gap: 20px;
	list-style-type: none;
	padding-left: 0;
	margin: 0;
	font-weight: 600;
	font-size: 14px;
}
.page-links {
	border-right: #000 solid 1px;
	padding-right: 20px;
}

.nav-title h1 {
	font-size: 20px;
	padding-left: 30px;
}

.social-links li:hover,
.page-links li:hover,
.nav-title h1:hover {
	transition: 0.3s ease-in-out;
	opacity: 50%;
}

/* Div containing burger menu plus "MENU" text */
.menu {
	display: flex;
	align-items: center;
	justify-content: end;
	/* The burger menu sits in the middle of the box and so to get it to be in line with the logo I've had to reduce padding top  */
	/* but now it sits directly in line with the logo which is 25px. I used .menu p to help calculate */
	margin-top: 0;
	padding: 13px;
	padding-right: 25px;
	padding-bottom: 0;
	color: #000;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 14px;
	position: absolute;
	top: 0;
	right: 0;
	gap: 11px;
}

.menu p {
	margin-top: 12px;
}

.menu p,
.menu .links {
	cursor: pointer;
}

.menu p:hover,
.burger-menu:hover {
	opacity: 50%;
	transition: 0.3s ease;
}

@media screen and (max-width: 1000px) {
	.navigation.show {
		padding-top: 25px;
		padding-left: 25px;
	}
	.navigation {
		width: 100vw;
		/* height: 270px; */
		background-color: #fff;
		flex-direction: column;
		align-items: flex-start;
		justify-content: stretch;
		text-transform: uppercase;
		/* margin-bottom: 30px; */
	}
	.menu {
		padding: 25px;
	}

	.nav-links {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-bottom: 30px;
	}

	.nav-title h1 {
		padding-left: 25px;
		font-size: 20px;
	}

	.nav-open nav {
		display: none;
		transition: 0.3s;
	}

	.nav-open .nav-title {
		display: block;
		transition: 0.5s ease;
	}

	.social-links {
		order: 2;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding-left: 25px;
		border-right: 0;
		gap: 10px;
		font-size: 16px;
	}
	.page-links {
		border-right: none;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
		padding-left: 25px;
		margin-left: 0;
		font-size: 16px;
	}
}

@media screen and (max-width: 1000px) {
	nav h3 {
		padding-left: 25px;
	}
	/* Remove word - menu */
	nav p {
		display: none;
	}
}
